<link rel="stylesheet" href="style.css">
<h1>Customers</h1>

<%# <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse; /* This makes sure borders are not doubled */
  }
  th, td {
    padding: 8px;
  }
</style> %>

<table id="products">
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id%></td>
        <td><%= link_to customer.full_name, customer_path(customer)%></td>
        <td><%= customer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>