<h1>About This Project</h1>

<p>This web application uses data from the following sources:</p>
<ul>
  <li>Products CSV (db/products.csv)</li>
  <li><a href="https://support.staffbase.com/hc/en-us/articles/360007108391-CSV-File-Examples">Customers CSV</a> (db/customers.csv) </li>
  <li>Generated Categories using Faker</li>
</ul>

<p>Optional: Include your ERD here (image or text)</p>
